img {
    width: 100%;
    height: auto;
    text-align: center;
}

main {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

#tribute-info {
    text-align: center;
}

#read-more, #tribute-info {
    font-size: 18px;
    font-weight: bold;
}

ul {
    width: 60%;
    margin: 0 auto;
    font-size: 18px;
}

li {
    margin: 20px 0;
}